
<h1>Product List</h1>
<% console.log(products) %>
  <% for(var i=0; i<products.length; i++) { %>
    <h1><%= i %></h1>
    
    <h1><%= products[i].title %></h1>
    <p><%= products[i].description %></p>
    <p><%=products[i].price  %></p>
    <p><%=products[i].quantity  %></p>
    <p><%= products[i].user%></p>
    <p><%= products[i].created %></p>
  <% } %>
